demo: {{this.queryParams.demo}}<br>
foo: {{this.queryParams.foo}}<br>

<br>

<a href={{this.nextForQp 'demo'}} {{on 'click' (fn this.inc 'demo')}}>demo++</a>
<a href={{this.nextForQp 'foo'}} {{on 'click' (fn this.inc 'foo')}}>foo++</a>